<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
</head>

<body>
    <div id="app">
    </div>
</body>
<script>
    var exposeObj = { window: { name: "caiwu" } }

    function compileCode(src) {
        src = `with (exposeObj) { ${src} }`
        return new Function('exposeObj', src)
    }


    function proxyObj(originObj) {
        let exposeObj = new Proxy(originObj, {
            has: (target, key) => {
                console.log(key);
                if (["console", "Math", "Date"].indexOf(key) >= 0) {
                    console.log(target[key]);
                    return target[key]
                }
                if (!target.hasOwnProperty(key)) {
                    throw new Error(`Illegal operation for key ${key}`)
                }
                return target[key]
            },
        })
        return exposeObj
    }


    function createSandbox(src, obj) {
        let proxy = proxyObj(obj)
        compileCode(src).call(proxy, proxy) //绑定this 防止this访问window	
    }
    const testObj = {
        value: 1,
        a: {
            b: 11
        }
    }
    console.log(testObj.console);
    with (testObj) {
        console.log(testObj.console);
    }
    createSandbox("value='haha';console.log(console)", testObj)
</script>

</html>