<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/static/iconfont.css">
    <title>公司信息化管理系统</title>
    <link href="/static/css/app.1ace94ea49c099c26fed35757b781968.css" rel="stylesheet">
</head>

<body>
    <div id="app"></div>
</body>

</html>